extends layout.pug

append script
  script(src='https://unpkg.com/formiojs@latest/dist/formio.full.min.js')
  script(type='text/javascript' src='/javascript/formio.js')

append style
  link(
    rel='stylesheet'
    href='https://unpkg.com/formiojs@latest/dist/formio.full.min.css'
  )

block content
    div(id='formio')
